<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Recipe</title>
<style type="text/css">
@import url("../../static/fridge/xiner/style_detail.css");
</style>
<link rel="stylesheet" href="../../static/fridge/xiner/font_detail.css">
</head>
<style>
body, html {height: 100%}
h1,h2{font-family: "Amatic SC", sans-serif}
.menu {display: none}
</style>
<body>
<!-- Navbar (sit on top) -->
<div class="top hide-small">
  <div class="bar xlarge black opacity hover-opacity-off" id="myNavbar">
    <h2 href="#" class="bar-item button">HOME</h2>
    <h2 href="#menu" class="bar-item button">MENU</h2>
    <h2 href="#about" class="bar-item button">ABOUT</h2>
    <h2 href="#googleMap" class="bar-item button">CONTACT</h2>
  </div>
</div>
  
<!-- Header with image --><span style="font-size: 100px"><img src="../../static/fridge/xiner/banner2.jpeg" width="1350" height="284" alt=""/></span>

<!-- BEGIN | Header -->
<section class="ht-section hs-recipe single">
	<header class="hs-header">
		<div class="container">
		  <!--<h1 class="entry-meta">Label: {{ re.recipe_label}}&nbsp;&nbsp;&nbsp;&nbsp;Time: {{ re.recipe_preptime}}</h1>-->
		  <h2 class="heading">{{ re.recipe_name}}</h2>
		</div>
	</header>
	<!-- / .hs-header -->
	<div class="hs-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="entry entry-media">
						<img src="../../static/fridge/xiner/dish1.jpeg" alt="">
					</div>
					<!-- / .entry-media -->
					<div class="entry">
						<h3>I have made it</h3>	
					</div>
					<!-- / .entry-action -->
					<div class="entry entry-description"> </div>
					<!-- / .entry-description -->
					<div class="entry entry-nutri">
						<h4 class="entry-title">Nutrition</h4>
						<table class="table">
							<tbody>
								<tr>
									<td class="name">Calories</td>
									<td class="value">102 kcal</td>
									<td class="percen">5%</td>
									<td class="percentage"><span><span style="width: 50%"></span></span></td>
								</tr>
								<tr>
									<td class="name">Protein</td>
									<td class="value">85g</td>
									<td class="percen">3%</td>
									<td class="percentage"><span><span style="width: 30%"></span></span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-xs-12 col-sm-6">
					<div class="entry entry-ingredient">
						<h4 class="section-title">Ingredient</h4>
						<table class="table table-tripped">
                            <tbody>
                            {% for ingre in ingredient_list %}
								<tr>
									<td>{{ ingre.ingredient_id.ingredient_name}}</td>
									<td>{{ ingre.ingredient_quantity}} {{ ingre.ingredient_id.ingredient_unit}}</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
					<!-- / .entry-action -->
					<div class="entry entry-instruction">
						<h4 class="section-title">Instruction</h4>
						<dl class="dl-horizontal">
                            {% for st in step_list %}
                                <dt>{{ st.step_number}}</dt>
                                <dd>{{ st.step_instructions}}</dd>
                            {% endfor %}
						</dl>
					</div>
					<!-- / .entry-instruction -->
				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</div>
</section>

</body>
</html>